<% include partials/header.ejs %>
<h1>Results</h1>
<ul>
<%
var posterBasePath = 'http://image.tmdb.org/t/p/w185/';
data.results.forEach((movie)=> { %>
  <li>
      <%
      var image = posterBasePath + movie.poster_path;
      var movieReleaseDate = new Date(movie.release_date);
      %>
      <a href="movies/show/<%=movie.id%>"><img src="<%=image%>" alt="<%=movie.title%>" /></a>
      <h2><%=movie.title%> (<%=movieReleaseDate.getFullYear()%>) 
       </h2>
       
       <small class="rating-container">
         
          <div class="star-ratings-css">
              <div class="star-ratings-css-top" style="width:  <%=Math.ceil(movie.vote_average * 10)%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
            </div>
            </small>
      <p><%=movie.overview%></p>
    
      <div class="ui buttons">
          <button class="ui positive button">Available</button>
          <div class="or"></div>
          <button class="ui  button">Unavailable</button>
        </div>
  
  
  </li>
<% });
%>
</ul>
<% include partials/footer.ejs %>